@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>
    <header>
        <div class="navbar">
            <div class="container">
                
                <nav>
                    <ul>
                        
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main>
        <div class="jumbotron">
            <h1>Dobrodosli u Hotel Dejvid!</h1>
            <p>Doživite luksuz i komfor u jednom trenutku.</p>
            <a href="/Reservation" class="btn">Rezervisi odmah!</a>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Hotel Dejvid. All rights reserved.</p>
    </footer>
</body>
</html>
