@{
    ViewData["Title"] = "Home Page";
}
      
    <main>
        <div class="jumbotron">
            <h1>Dobrodosli u Hotel Dejvid!</h1>
            <p>Doživite luksuz i komfor u jednom trenutku.</p>
            <a href="/Reservation" class="btn">Rezervisi odmah!</a>
        </div>
    </main>

